/home/iph/Documents/Repo/llama-podman/models/qwen2.5-14b-instruct-q4_k_m-00001-of-00003.gguf
/home/iph/Documents/Repo/llama-podman/models/qwen2.5-14b-instruct-q4_k_m-00002-of-00003.gguf
/home/iph/Documents/Repo/llama-podman/models/qwen2.5-14b-instruct-q4_k_m-00003-of-00003.gguf
